* {
  box-sizing:border-box;
  margin:0;
  padding: 0;
}
html {
  background-color: #7577BA;
}

/*Main navigation*/

.main-nav {
  display: flex;
  flex-flow: row wrap;

}
ul,
ol {
  list-style: none;
}


.main-nav li {
  margin: auto;
  width: calc(100% / 3);
  padding: 1em;
  text-align: center;
}

.main-nav a {
  display: block;
  width: 100%;
  color: white;
  font-size: 1em;
  transition-duration: 2000ms;
}

.main-nav a:hover {
  color: black;
}


/*About me*/
#about-me  {
  display: flex;
  flex-flow: row wrap;
}
.avatar-container {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}

#about-me img {
  margin: auto;
  border-radius: 50%;
}
#about-me img:hover {
  cursor: pointer;
}
#about-me p {
  width:100%;
  color:#7577BA;
  text-align: center;
  margin: auto;
}

/*Projects part*/

#projects {
  border-top: 5px solid white;
  border-bottom: 5px solid white;
  display: flex;
  flex-flow: row wrap;
}

.project {
  width:100%;
  display: flex;
  flex-flow: row wrap;
  margin: 2em 0;
  text-align: center;
  color: white;
}

.project a {
  width: 50%;
  margin:auto;
  display: flex;
  flex-flow: column wrap;
}

.project img{
  width: 200px;
  height: 200px;
  margin: auto;
}

.project p{
  width:100%;
}

.skills {
  margin: 1em auto;
}
.project ol {
  width:100%;
  justify-content: center;
  color: orange;
}

.project li {
  border-radius: 6px;
  display: inline-block;
  background: #ff9904;
  color: white;
  padding: 5px 10px;
  margin: 2px;
}

.project li:nth-child(odd) {
  background: #0399ff;
}


/* Media queries*/


.contact {
  display: flex;
  flex-flow: column wrap;
  text-align: center;
  color:white;
}

.contact h2 {
  margin: 1em;
}
.contact a {
  color:white;
  margin: 5px;
}
/* Tablet query */
@media (min-width: 768px) {
  .main-nav a {
    font-size: 1.5em;
  }
  .project {
    width:50%;
  }

  #about-me p {
    width: 80%;
  }
}


/* Desktop query */
@media (min-width: 1024px) {
  .main-nav a {
    font-size: 2em;
  }
  .project {
    width:calc(100%/3);
  }
  #about-me p {
    width: 50%;
  }
}
